.country-continent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 925px) {
    .country-continent{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
    }
}