.country{
    border: 2px solid black;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: left;
}

@media (min-width: 500px) {
    .country{
        border: 2px solid black;
        margin: 10px 10px;
        border-radius: 10px;
        padding: 10px;
        width: 30vw;
        height: 20vw;
        text-align: left;
    }
}
img {
    width: 9vw;
    height: 6vw;
    object-fit: cover;
}

.flex-title{
    display: flex;
    align-items: flex-start;
}

span{
    font-style: italic;
}
