.country{
    border: 2px solid black;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: left;
}

img {
    width: 30px;
    height: 20px;
}

@media (min-width: 800px) {
    .country{
        border: 2px solid black;
        margin: 10px 10px;
        border-radius: 10px;
        padding: 10px;
        width: 30vw;
        height: 18vw;
        text-align: left;
    }
    img {
        width: 3vw;
        height: 2vw;
    }
}


.flex-title{
    display: flex;
    align-items: flex-start;
}

span{
    font-style: italic;
}
