*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f7f6f6;
}


.app{
  width: 90vw;
  margin: 0px auto;
}

.title{
  font-size: 2.5rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0px auto auto 0px;
}

.title-p{
  font-size: 1.25rem;
  text-align: center;
  border-radius: 10px;
}


.center-img{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
}

.loading{
  width: 80vw;
  height: 60vw;
}

